version: '3.8'

services:
  controller:
    image: yoneyan/vmmgr-controller:develop
    container_name: vmmgr
    restart: always
    volumes:
      - ./config.yaml:/config.yaml
      - ./ssh:/root/.ssh
    ports:
      - '8081:8080'
    network_mode: bridge
  novnc:
    container_name: novnc
    build:
      context: docker/noVNC
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8082:80"
  web:
    image: yoneyan/vmmgr-web-admin:develop
    container_name: web-admin
    restart: always
    ports:
      - "8083:80"
